@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
:root {
  --color-primary-one: hsl(243, 87%, 12%);
  --color-primary-two: hsl(238, 22%, 44%);
  --color-accent-one: hsl(224, 93%, 58%);
  --color-accent-two: hsl(170, 45%, 43%);
  --color-neutral-one: hsl(240, 75%, 98%);
  --color-neutral-two: hsl(0, 0%, 75%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
h1,
h2,
h3 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

/* Buttom component */
.btn {
  width: 30rem;
  padding: 1.4rem 8.5rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-size: 1.8rem;
  cursor: pointer;
}
.btn--primary {
  background: hsl(224, 93%, 58%);
  color: #fff;
}
.btn--primary:hover {
  background: hsl(224, 60%, 57%);
  color: #fff;
}
.btn--secondary {
  background: hsl(224, 90%, 67%);
  color: #fff;
}
.btn--secondary:hover {
  background: hsl(225, 39%, 58%);
  color: #fff;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 20rem;
    padding: 1.2rem 5rem;
    font-size: 1.5rem;
  }
}
/* input component */
.email-input {
  width: 26rem;
  height: 4rem;
  padding: 0 2rem;
  border: 1px solid var(--color-primary-one);
  border-radius: 5px;
  outline: 0;
  font-size: 1.8rem;
  color: var(--color-primary-one);
}

::placeholder {
  color: #999;
}
@media screen and (min-width: 768px) {
  .email-input {
    font-size: 1.5rem;
  }
}

/* Group input-btn */
.group--input-btn .btn {
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .group--input-btn {
    display: flex;
    flex-wrap: wrap;
  }
  .group--input-btn .btn {
    margin-top: 0;
    margin-left: 2rem;
  }
}

/* link component */

.link .link-fylo {
  font-size: 1.8rem;
  color: var(--color-accent-two);
  text-decoration: none;
}
