@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
:root {
  --color-primary-one: hsl(243, 87%, 12%);
  --color-primary-two: hsl(238, 22%, 44%);
  --color-accent-one: hsl(224, 93%, 58%);
  --color-accent-two: hsl(170, 45%, 43%);
  --color-neutral-one: hsl(240, 75%, 98%);
  --color-neutral-two: hsl(0, 0%, 75%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
h1,
h2,
h3 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
a {
  text-decoration: none;
}
/* Buttom component */
.btn {
  width: 30rem;
  padding: 1.4rem 8.5rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
}
.btn--primary {
  background: hsl(224, 93%, 58%);
  color: #fff;
}
.btn--primary:hover {
  background: hsl(224, 60%, 57%);
  color: #fff;
}
.btn--secondary {
  background: hsl(224, 90%, 67%);
  color: #fff;
}
.btn--secondary:hover {
  background: hsl(225, 39%, 58%);
  color: #fff;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 20rem;
    padding: 1.2rem 5rem;
    font-size: 1.4rem;
  }
}
/* input component */
.email-input {
  width: 30rem;
  height: 4.5rem;
  padding: 0 2rem;
  border: 1px solid var(--color-primary-one);
  border-radius: 5px;
  outline: 0;
  font-size: 1.5rem;
  color: var(--color-primary-one);
}

::placeholder {
  color: #999;
}
@media screen and (min-width: 768px) {
  .email-input {
    font-size: 1.4rem;
  }
}

/* Group input-btn */
.group--input-btn .btn {
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .group--input-btn {
    display: flex;
  }
  .group--input-btn .btn {
    margin-top: 0;
    margin-left: 2rem;
  }
}

/* link component */

.link .link-fylo {
  font-size: 1.3rem;
  color: var(--color-accent-two);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .link .link-fylo {
    font-size: 1.5rem;
  }
}
/* Grid component */
.container {
  height: 100vh;
}
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid .grid--1x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Text component */
.text--description {
  color: var(--color-primary-one);
}
.text--description .text--heading {
  font-size: 1.8rem;
  line-height: 1.5;
}
.text--description .text--body {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.text--description .text--heading,
.text--description .text--body {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .text--description .text--heading {
    font-size: 1.7rem;
  }
  .text--description .text--body {
    font-size: 1.4rem;
  }
  .text--description .text--heading,
  .text--description .text--body {
    text-align: left;
  }
}
/* box shadow */
.boxshadow {
  box-shadow: 0 0 10px 3px rgb(223, 220, 220);
}
/* Testimonial component */
.testimonial {
  width: 28rem;
  height: 18rem;
  border-radius: 0.7rem;
  padding: 2.5rem;
}
.testimonial .testimonial--text {
  color: var(--color-primary-one);
  font-weight: 400;
  font-size: 1.3rem;
}
.testimonial .testimonial--id {
  color: var(--color-primary-one);
  display: flex;
}
.testimonial--id .testimonial--image {
  width: 5rem;
  height: 5rem;
  margin-top: 1.6rem;
  border-radius: 50%;
}
.testimonial--id .testimonial--id-text {
  margin: 0.7rem 2rem;
}
.testimonial .testimonial--id-textposition {
  font-size: 1.2rem;
}
/* Callout component */
.callout {
  background: var(--color-primary-two);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.callout .text--description {
  color: #fff;
  margin-top: 5rem;
}
.callout .group--input-btn {
  margin: 3rem 0 6rem;
}
.callout .group--input-btn .email-input {
  border: 0;
}
@media screen and (min-width: 768px) {
  .callout {
    display: flex;
    flex-direction: row;

    padding: 5rem;
  }
  .callout .text--description {
    padding-top: -2rem;
    margin-top: 0;
    margin-right: 10rem;
    flex: 1.5 1 4rem;
  }
  .callout .group--input-btn {
    margin: 3rem 4rem 0 0;
  }
  .group--input-btn {
    display: flex;
    flex-direction: column;
    flex: 1 5 1rem;
    margin-top: 7rem;
  }
  .callout .group--input-btn .btn {
    margin-top: 1.2rem;
    margin-left: 0;
  }
}
/* List */
.list {
  list-style: none;
  font-size: 1.5rem;
  color: var(--color-primary-one);
}

@media screen and (min-width: 768px) {
  .list {
    font-size: 2rem;
  }
}
/* Nav component */
.nav-bar {
  width: 100%;
  height: 10%;
  transition: all 0.2s ease;
}
.nav-bar .nav-element {
  display: flex;
  justify-content: space-between;
}
.nav-bar .nav-logo {
  width: 15rem;
}
.nav-bar .nav-logo,
.nav-bar .nav-list .list {
  padding: 2rem;
}
.nav-bar .list {
  display: flex;
}

.list .list-item {
  margin: 0.3rem 3rem 0 0;
}
.list .list-item:hover {
  color: var(--color-primary-two);
}
@media screen and (min-width: 768px) {
  .nav-bar .nav-logo {
    width: 20rem;
  }
  .nav-bar .nav-logo,
  .nav-bar .nav-list .list {
    padding: 2.5rem;
  }
  .list .list-item {
    margin: 0.3rem 4rem 0 0;
  }
}
