<footer class="footer">
  <div class="">
    <img class="footer-logo" src="images/logo.svg" alt="" />
    <div class="footer-contact">
      <div class="contact">
        <span
          ><img class="contact-image" src="images/icon-phone.svg" alt=""
        /></span>
        <span>
          <p>Phone: +233-24-543-234-7645</p>
        </span>
      </div>
      <div class="contact">
        <span
          ><img class="contact-image" src="images/icon-email.svg" alt=""
        /></span>
        <span>
          <p>example@gmail.com</p>
        </span>
      </div>
    </div>
  </div>

  <div class="footer-list">
    <ul class="list">
      <a href="#">
        <li class="list-item">About Us</li>
      </a>
      <a href="#">
        <li class="list-item">Jobs</li>
      </a>
      <a href="#">
        <li class="list-item">Press</li>
      </a>
      <a href="#">
        <li class="list-item">Blog</li>
      </a>
    </ul>
  </div>
  <div class="footer-list">
    <ul class="list">
      <a href="#">
        <li class="list-item">Contact Us</li>
      </a>
      <a href="#">
        <li class="list-item">Terms</li>
      </a>
      <a href="#">
        <li class="list-item">Privacy</li>
      </a>
    </ul>
  </div>

  <div class="footer-socials">
    <div class="social-bg"><i class="fa-brands fa-facebook-f"></i></div>
    <div class="social-bg"><i class="fa-brands fa-twitter"></i></div>
    <div class="social-bg"><i class="fa-brands fa-instagram"></i></div>
  </div>
</footer>
